{ 
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "@pages": "./src/app/pages",
        "@styles": "./src/styles"
      }
    }]
  ]
}
